body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #301996;
    color: rgb(207, 13, 13);
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: rgb(59, 90, 129);
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
}
.next-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
}

.next-btn:hover {
    background-color: #45a049;
}